<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="js/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <main>
        <div class="cardContainer">
            <div class="card">
                <p class="preview">
                    Som en [ROLL] vill jag [AKTIVITET] i [SAMMANHANG] för att [ORSAK].
                </p>
                <div class="contentButtons">
                    <button>Share</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
            <div class="card">
                <p class="preview">
                    Som en [ROLL] vill jag [AKTIVITET] i [SAMMANHANG] för att [ORSAK].
                </p>
                <div class="contentButtons">
                    <button>Share</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
            <div class="card">
                <p class="preview">
                    Som en [ROLL] vill jag [AKTIVITET] i [SAMMANHANG] för att [ORSAK].
                </p>
                <div class="contentButtons">
                    <button>Share</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
            <div class="card">
                <p class="preview">
                    Som en [ROLL] vill jag [AKTIVITET] i [SAMMANHANG] för att [ORSAK].
                </p>
                <div class="contentButtons">
                    <button>Share</button>
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
            <div class="card storySetup edit" id="storySetup">
                <p class="preview" id="preview">{{ template }}</p>
                <input class="templateInput" type="text" v-model="template">
                <div class="tools">
                    <button>save</button>
                    <div class="field">
                        <label>roll: </label><input v-model="role">
                        <a>X</a>
                    </div>
                    <a v-on:click="addField">+</a>
                </div>
            </div>
            <div id="addProjectButton">
                <span v-bind:title="message">
                    <button v-on:click="addNewStory">+</button>
            </div>
        </div>

    </main>
    <script src="js/main.js"></script>
</body>

</html>